<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
  xmlns:th="http://www.thymeleaf.org"   
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
  <head>
<meta charset="utf-8">
<title>Insert title here</title>
</head>
<body>
   <div class="col-md-4  offset-1">
        <div class="card card-register mx-auto mt-5">
        <div class="text-center">Edition</div>
        <div class="card-body">
          <form autocomplete="off" action="/update" method="post" >  
             <input   type="hidden" value=${code}>              
            <div class="form-group">
              <div class="form-row">
                <div class="col-md-6">
                  <div class="form-label-group">
                    <label for="firstName">First name</label>
                    <input   type="text" id="firstName" class="form-control" placeholder="First name" required="required" autofocus="autofocus">
                  </div>
                </div>
              </div>
            </div>         
            <button class="btn btn-primary btn-block" type="submit">Register</button>
          </form>
        
        </div>
      </div>
    </div>
</body>
</html>